*{
    margin: 0;
}
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(55, 55, 55, 0.87); 
    color: white; 
    padding: 1em 4em; 
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: content;
    align-items: center;
}
.operation{
    padding-top: 2em;
}
input{
    margin: 0;
}
.box{
    width: 7.1em; 
}
p{
    font-size: larger; 
    margin:0 2.4em;
}
.button{
    margin: 1em 0;
}
.answer{
    margin: 0;
}
